<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DatabaseServer" value="\SQLEXPRESS"/>
    <add key="TestMode" value="False"/>
    <add key="BackupTime" value="07:35"/>
    <add key="AlertDate" value="12/25/2019"/>
    <add key="AlertDate1" value="100/25/2019"/>
  </appSettings>
</configuration>