<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="MainWindowTitle" value = "Code sample for reading/setting app.config" />
    <add key="IncomingFolder" value = "D:\UISides\oed_incoming" />
    <add key="TestMode" value = "false" />
    <add key="importMinutesToPause" value="2" />
    <add key="LastCategoryIdentifier" value="-1" />
    <add key="LastRan" value="10/31/2020 3:12:50 AM" />
    <add key="DatabaseServer" value=".\SQLEXPRESS" />
    <add key="Catalog" value="NorthWind2020" />
  </appSettings>
</configuration>