<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="IncomingFolder" value = "D:\UISides\oed_incoming" />
    <add key="TestMode" value = "true" />
    <add key="importMinutesToPause" value="1" />
  </appSettings>
</configuration>