<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="mailSettings">
      <section name="smtp_Home" type="System.Net.Configuration.SmtpSection"/>
      <section name="smtp_Work" type="System.Net.Configuration.SmtpSection"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MainWindowTitle" value = "Code sample for reading/setting app.config" />
    <add key="IncomingFolder" value = "D:\UISides\oed_incoming" />
    <add key="TestMode" value = "false" />
    <add key="importMinutesToPause" value="2" />
    <add key="LastCategoryIdentifier" value="-1" />
    <add key="LastRan" value="10/31/2020 3:12:50 AM" />
    <add key="DatabaseServer" value=".\SQLEXPRESS" />
    <add key="Catalog" value="NorthWind2020" />
  </appSettings>

  <mailSettings>
    <smtp_Home from="someone@gmail.com">
      <network
        host="smtp.gmail.com"
        port="587"
        enableSsl="true"
        userName="MssGMail"
        password="!@45cow"
        defaultCredentials="false" />
      <specifiedPickupDirectory pickupDirectoryLocation="MailDrop"/>
    </smtp_Home>

    <smtp_Work from="karenpayneoregon@gmail.com">
      <network
        host="smtp.gmail.com"
        port="587"
        enableSsl="true"
        userName="oregon@gmail.com"
        password="password"
        defaultCredentials="false" />
      <specifiedPickupDirectory pickupDirectoryLocation="MailDrop"/>
    </smtp_Work>
  </mailSettings>


</configuration>